[maxscale]
threads=auto

[Splitter Service]
type=service
router=readwritesplit
servers=rancher-1,rancher-2,rancher-3
user=maxscale
passwd=maxscalepass

[Splitter Listener]
type=listener
service=Splitter Service
protocol=MySQLClient
port=3307

[rancher-1]
type=server
address=192.168.1.151
port=3306
protocol=MySQLBackend

[rancher-2]
type=server
address=192.168.1.152
port=3306
protocol=MySQLBackend

[rancher-3]
type=server
address=192.168.1.153
port=3306
protocol=MySQLBackend

[Galera Monitor]
type=monitor
module=galeramon
disable_master_failback=1
servers=rancher-1,rancher-2,rancher-3
user=monitor
passwd=monitorpass

[CLI]
type=service
router=cli
[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
socket=default
