[maxscale]                                                             
threads=1

[Splitter Service]                                                             
type=service                                                                   
router=readwritesplit                                                          
servers=rancher1_db_1,rancher2_db_1,rancher3_db_1
user=maxscale                                                            
passwd=maxscalepass

[Splitter Listener]                                                            
type=listener                                                                  
service=Splitter Service                                                       
protocol=MySQLClient                                                           
port=3307                                                                      
socket=/tmp/ClusterMaster

[rancher1_db_1]
type=server                                                                    
address=192.168.55.11                                                        
port=3306                                                                      
protocol=MySQLBackend

[rancher2_db_1]
type=server
address=192.168.55.12
port=3306
protocol=MySQLBackend

[rancher3_db_1]
type=server
address=192.168.55.13
port=3306
protocol=MySQLBackend

[Galera Monitor]                                                               
type=monitor                                                                   
module=galeramon                                                               
disable_master_failback=1
servers=rancher1_db_1,rancher2_db_1,rancher3_db_1
user=monitor
passwd=monitorpass

[CLI]
type=service
router=cli
[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
socket=default
